<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.category %></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<ul>
  <li><%= link_to "Back to List", restaurants_path %></li>
  <li><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %></li>
</ul>
